<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Font Style -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">

    <!-- Icon Style -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <title>Star Blog</title>

    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        
        .navbar-brand {
            font-family: "Playfair Display", Georgia, "Times New Roman", serif;
            /*rtl:Amiri, Georgia, "Times New Roman", serif*/
            font-size: 2.25rem;
        }
        
        .nav-item {
            font-size: 1.1rem;
            margin: 0 7px;
        }
        
        .container {
            padding-bottom: 40px;
        }
        
        .label-name {
            margin: 25px 0 15px;
        }
        
        .publish-btn {
            margin-top: 25px;
        }
    </style>

</head>

<body>

    <!-- Header Part -->

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid ">
            <div class="col-4 ">
                <a class="navbar-brand" href="/ ">Star Blog</a>
            </div>
            <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarTogglerDemo01 " aria-controls="navbarTogglerDemo01 " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo01 ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page " href="/ ">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page " href="/about ">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page " href="/compose ">Compose</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page " href="/contact ">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex ">
                    <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                    <button class="btn btn-outline-light " type="submit ">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Body Part -->
    <div class="container ">