<%- include("partials/header"); -%>


    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">About</h1>
            <p class="lead">
                <%= aboutContentText %>
            </p>
        </div>
    </main>

    <%- include("partials/footer"); -%>