<%- include("partials/header"); -%>

    <main>
        <div class="container">
            <h1 class="my-3 bd-title mt-5">About Us</h1>
            <p class="lead">
                Learn more about the <strong>Star Blog</strong>, who created this, what's its features are and what techs are included.
            </p>
            <div>
                <h2>Introduction</h2>
                <p class="lead ">
                    Basically, <strong>Star Blog</strong> is a blogging site in which any user can share his/her
                    thoughts
                    without any registration by typing his/her name and location, and if he/she don't wanna share
                    his/her
                    information then user can leave the section empty and share his/her thoughts freely. This project
                    also
                    include a beautiful home page with famous quotes by famous stars, an about page as you already seen.
                    In
                    this project many tech included, the list of the tech are listed below.
                </p>
            </div>
            <div class="lead">
                <h2>Tech Included</h2>
                <p class="lead ">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>NodeJs</li>
                    <li>Express</li>
                    <li>JavaScript</li>
                    <li>Bootstrap</li>
                </ul>
                </p>
            </div>
            <div>
                <h2>Creators</h2>
                <p class="lead">
                    Hey there, this fantastic website made by <strong>Atul Tripathi</strong> and <strong>Ghanshyam
                        Verma</strong> from India.
                    Our passion for software lies with dreaming up ideas and making them come true with elegant
                    interfaces. We take great care in the experience, architecture, and code quality of the things we
                    build.
                    <br />
                    We're also an <strong>open-source</strong> enthusiast and maintainer. We learned a lot from the
                    open-source community and we love how <strong>collaboration and knowledge sharing</strong> happened
                    through open-source.
                </p>
            </div>
            <br />
            <div>
                <h2>Some Lines from Creators</h2>
                <ul>
                    <li>
                        <figure>
                            <blockquote class="blockquote">
                                <p class="lead">
                                    A person can ruin or succeed you, but it all depends on you what you wants to be. So
                                    always choose your best, because that's your life and you have to be perfect for
                                    yourself.
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer text-end">
                                Atul Tripathi
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <blockquote class="blockquote">
                                <p class="lead">
                                    If you find a person who actually cares you, don't leave him/her because he/she is
                                    the one who really wants to give you the real happiness.
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer text-end">
                                Atul Tripathi
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <blockquote class="blockquote">
                                <p class="lead">
                                    Always remember that, the right time never comes because right time in present to do
                                    something for yourself is now. So, use it and do your best to achieve your goals.
                                </p>
                            </blockquote>
                            <figcaption class="blockquote-footer text-end">
                                Atul Tripathi
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
            <div class="lead">
                <strong>
                    Created by using coding skills with love 💙️ by - <a href="https://github.com/atultrp">
                        <button type="button" class="btn btn-light">Atul Tripathi</button></a> and <a
                        href="https://github.com/ghanshyamcode"><button type="button" class="btn btn-light">Ghanshyam
                            Verma</button></a>
                </strong>
                </p>
            </div>
        </div>
    </main>

    <%- include("partials/footer"); -%>