<%- include("partials/header"); -%>

    <main class="flex-shrink-0">
        <div class="container">

            <h1 class="mt-5">Compose</h1>

            <form class="lead" action="/compose" method="POST">
                <div class="form-group row">
                    <div class="col-md">
                        <label class="label-name">Your Name</label>
                        <input class="form-control" type="text" name="authorName" autocomplete="off">
                    </div>
                    <div class="col-md">
                        <label class="label-name">Location</label>
                        <input class="form-control" type="text" name="location" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="label-name">Title</label>
                    <input class="form-control" type="text" name="postTitle" autocomplete="off">
                </div>
                <div class="form-group">
                    <label class="label-name">Post</label>
                    <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
                </div>
                <button type="submit" name="button" class="btn publish-btn btn-info">Publish</button>
            </form>
    </main>
    <%- include("partials/footer"); -%>
