<%- include("partials/header"); -%>

    <main class="flex-shrink-0">
        <div class="container">

            <h1 class="mt-5">Contact Us</h1>
            <p class="lead">
                <div>
                    <p class="lead">
                        How to reach us -
                    <ul class="list-inline my-3">
                        <li class="list-inline-item my-1">
                            <a href="https://github.com/atultrp">
                                <button type="button" class="btn btn-dark">GitHub</button>
                            </a>
                        </li>
                        <li class="list-inline-item my-1">
                            <a href="https://www.linkedin.com/in/atultrp-/">
                                <button type="button" class="btn btn-primary">LinkedIn</button>
                            </a>
                        </li>
                        <li class="list-inline-item my-1">
                            <a href="mailto: atul31815@gmail.com">
                                <button type="button" class="btn btn-danger">Mail</button>
                            </a>
                        </li>
                    </ul>
                    <div class="lead">
                        <strong>
                            Created by using coding skills with love 💙️ by - <a href="https://github.com/atultrp">
                                <button type="button" class="btn btn-light">Atul Tripathi</button></a>
                        </strong>
                        </p>
                    </div>
                </div>
            </p>
        </div>
    </main>
    <%- include("partials/footer"); -%>
